#map{
	height: 100%;
}
html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

.legend-profile{
	text-align: center;
}
.nav-header{
	margin-bottom: 10px;
}
.crs-top{
	margin-top: 10px;
	width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.pt-3-half {
    padding-top: 1.4rem;
}
.cntr-fluid{
	margin-top: 5px;
}
.coursel-btn{
	width: 50px;
	height: 50px;
}

.mdl-long{
	width: 100%;
	margin-bottom: 5px;
	
}
.card-login{
	margin-top: 10px;
}

.overflow-div{
	background-color: #eee;
    width: auto;
    height: auto;
    border: 1px black;
    overflow-y:scroll;
    overflow-x:scroll;
}
.form-search{
	width: 50%;
	margin-left: 160px;
}

.menu-prod{
	margin-top: -20px;
}

.crs-zidx{
	z-index: -99;
}